<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>you decided to call 911. However, they take time to pick up.
    So you are frustrating yourself. So who do you call instead?</p>
    <ul>
        <li><a href="/parents">Call your parents</a></li>
        <li><a href="/friend">Call a friend</a></li>
        <li><a href="/house">Call your house</a></li>
        <li><a href="/run">Don't call anyone and run</a></li>
    </ul>
  </body>
</html>
