<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>So you decided to jump the car, but instead, the car tries to
    run you over. You almost got killed, but could move out of the road
  and got saved. However, the car is now following you, what do you do?</p>
    <ul>
        <li><a href="/bicycle">Get the bicycle that is next to you.</a></li>
        <li><a href="/run">Run as fast as you can!</a></li>
        <li><a href="/help">Try to ask for help!</a></li>
    </ul>
  </body>
</html>
